@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Leckerli+One&family=Pacifico&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --lightblue: #00CCBB;
    --dark: #0F172A;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    min-height: 100vh;
    overflow-x: hidden;
}
